      <nav class="navbar navbar-static-top page-<%= @page_id%>" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'My Clippings', '/', :class => 'navbar-brand' %>
        </div>
        <div id="navbar-links" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <% for @item in home_nav_items %>
              <% @active = @item[:id] === @page_id ? 'active' : ''%>
              <li class="<%= @active.to_s%>">
                <%= link_to @item[:name], @item[:url]%>
              </li>
            <% end %>

            <% @active = @page_id == 'signin' ? 'active' : ''%>
            <li class="<%= @active.to_s%>">
              <%= link_to users_signin_path do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                <%= t('user.signin') %>
              <% end %>
            </li>
          </ul>

        </div><!--/.navbar-collapse -->
      </nav>
