      <div class="signup">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
<% if @identity && @identity.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@identity.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
      <% @identity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
            <%= form_tag '/auth/identity/register', :class => 'form-horizontal signin-form' do %>
              <div class="form-group">
                <%= label_tag :email, t('user.email'), :class => 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= text_field_tag :email, @identity.try(:email), :class => 'form-control', :placeholder =>  t('user.email') %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :password, t('user.password'), :class => 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder =>  t('user.password') %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :password_confirmation, t('user.password_confirmation'), :class => 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= password_field_tag :password_confirmation, params[:password_confirmation], :class => 'form-control', :placeholder =>  t('user.password_confirmation') %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <%= submit_tag t('user.signup'), :class => 'btn btn-primary' %>
                </div>
              </div>
            <% end %>

            <div class="signin">
              <p><%= t('user.signin_slogan', :link => link_to(t('user.link_in_signin_slogan'), users_signin_path)).html_safe %></p>
            </div>
          </div>
        </div>
      </div>
