      <div class="signin">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <%= form_tag '/auth/identity/callback', :class => 'form-horizontal signin-form' do %>

              <div class="form-group">
                <%= label_tag :email, t('user.email'), :class => 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder =>  t('user.email') %>
                </div>
              </div>

              <div class="form-group">
                <%= label_tag :password, t('user.password'), :class => 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= password_field_tag :password, params[:password], :class => 'form-control', :placeholder =>  t('user.password') %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <div class="checkbox">
                    <label>
                      <%= check_box_tag :remember_me %> Remember me
                    </label>
                  </div>
                  <%= link_to t('user.forgot_password'), '', :class => 'forgot'%>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                  <%= submit_tag t('user.signin'), :class => 'btn btn-primary' %>
                </div>
              </div>

            <% end %>

            <div class="oauth">
              <div class="row">
                <div class="col-sm-4">
                  <p>Sign in using</p>
                </div>
                <div class="col-sm-8">
                  <%= link_to t('user.oauth.evernote'), '/auth/evernote/', :class => 'evernote'%>
                  <%= link_to t('user.oauth.amazon'), '/auth/amazon/', :class => 'amazon'%>
                  <%= link_to t('user.oauth.facebook'), '/auth/facebook/', :class => 'facebook'%>
                  <%= link_to t('user.oauth.twitter'), '/auth/twitter/', :class => 'twitter'%>
                  <%= link_to t('user.oauth.google'), '/auth/google/', :class => 'google'%>
                  <%= link_to t('user.oauth.douban'), '/auth/douban/', :class => 'douban'%>
                  <%= link_to t('user.oauth.weibo'), '/auth/weibo/', :class => 'weibo'%>
                </div>
              </div>
            </div>

            <div class="no-account">
              <p><%= t('user.signup_slogan', :link => link_to(t('user.link_in_signup_slogan'), users_signup_path)).html_safe %></p>
            </div>

          </div>
        </div>
      </div>
